<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
  <h1>Product Manager</h1>
  <a href="new">Add New Product</a>

  <br/><br/>
  <table border="1" cellpadding="10">
    <thread>
      <tr>
        <th>Product name</th>
        <th>Product price</th>
        <th>Product quantity</th>
        <th>Subcategory</th>
        <th>Product description</th>

        <th>Actions</th>
      </tr>
    </thread>
  </table>
</div>
</body>
</html>