<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
<section class="footer-section">
  <div class ="social-links">
    <ul>
        <li>facebook</li>
        <li>instagram</li>
        <li>maps</li>
    </ul>
  </div>
  <div class="footer-links">
      <a href="">imprint</a>
      <a href="">delivery & returns</a>
      <a href="">terms & conditions</a>
      <a href="">privacy</a>
      <a href="">contact</a>
  </div>
</section>

</body>
</html>