<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<section class="header-section">
    <div class="header-logo">
        <a href="/OnlineStore/demo/templates/index.html">
        <img class ="logo" src="photos/logo.png" alt="logo">
        </a>
    </div>
<div class="header-nav">
        <a href="/OnlineStore/demo/templates/shop.html">shop</a>
        <a href="/OnlineStore/demo/templates/wishlist.html">wishlist</a>
        <a href="/OnlineStore/demo/templates/account.html">account</a>
        <a href="">language</a>
        <a href="/OnlineStore/demo/templates/cart.html">cart</a>

    <div class="d-flex justify-content-center h-100">
        <div class="search">
            <input type="text" class="search-input" placeholder="what are you looking for?" name="">
            <a href="" class="search-icon" >
                <i class="fa fa-search"></i> </a>
        </div>
    </div>
    </div>



</section>

</body>
</html>
